
Welcome to {{ project_name }} documentation!
==================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:
   {% for file in files %}
   notes/{{ file }}
   {% endfor %}

Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
